/* Introduction */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

#top-section {
  background-image: linear-gradient(to right, rgb(190, 180, 255) , rgb(162, 224, 255), rgb(252, 202, 255));
  padding-bottom: 30px;
}

.navbar {
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
  box-shadow: none;  /* This takes out the bottom border */
}

#introduction-text {
  font-size: 1.2em;
  font-weight: 200;
  color: white;
  letter-spacing: 1px;
  margin-top: 30px;
}

#top-heading {
  font-family: 'Jost', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
}

.all-cards-button {
  background-color: transparent;
  border: none;
  padding: 5px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 2px;
  cursor: pointer;
  color: white; 
  border: 2px solid white;
}

/* End - Introduction */

/* 3D Perspective Card Carousel - https://dev.to/shantanu_jana/3d-image-slider-using-html-css-328b */
#slider {
    position: relative;
    width: 15%;
    height: 20vw;
    margin: 60px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  /* Hide the carousel radio indicators at the top and bottom of carousel */
  /* #slider input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  } */
  
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 60%;
    width: 7px;
    height: 7px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }

  /* Make radio input white when selected */
  input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    top: -3;
    border-radius: 15px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
  }
  
  #slider label,
  #slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }
  
  /* Slider Functionality */

  /* Active Slide */
  #s1:checked ~ #slide1,
   #s2:checked ~ #slide2,
    #s3:checked ~ #slide3,
     #s4:checked ~ #slide4,
      #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2,
   #s2:checked ~ #slide3,
    #s3:checked ~ #slide4,
     #s4:checked ~ #slide5,
      #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(60%, 0, -100px);
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
  }

  /* Next to Next Slide */
  #s1:checked ~ #slide3,
   #s2:checked ~ #slide4,
    #s3:checked ~ #slide5,
     #s4:checked ~ #slide1,
      #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(100%, 0, -250px);
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
   #s2:checked ~ #slide5,
    #s3:checked ~ #slide1,
     #s4:checked ~ #slide2,
      #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-100%, 0, -250px);
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5,
   #s2:checked ~ #slide1,
    #s3:checked ~ #slide2,
     #s4:checked ~ #slide3,
      #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-60%, 0, -100px);
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
  }

  /* when we're on slide 1, wrap slide 5 all the way to the right */
  #s1:checked ~ #slide5 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(180%, 0, -400px);
  }

  /* when we're on slide 1, wrap slide 4 to second from the right and second from the back */
  #s1:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(140%, 0, -300px);
  }

  /* when we're on slide 2, wrap slide 5 all the way to the right and the back */
  #s2:checked ~ #slide5 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(140%, 0, -400px);
  }

  /* when we're on slide 4, wrap slide 1 all the way to the left */
  #s4:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-140%, 0, -400px);
  }

  /* when we're on slide 5, move slide 1 all the way to the left and the back */
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-180%, 0, -400px);
  }

  /* when we're on slide 5, move slide 2 to second from the left and second from the back */
  #s5:checked ~ #slide2 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-140%, 0, -300px);
  }
  
/* End - 3D Perspective Card Carousel */

/* Top 100 Page*/
#deck-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(57, 116, 255);
  margin-bottom: 5px;
  margin-top: 30px;
}

#deck-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  background: -webkit-linear-gradient(rgb(135, 95, 246), rgb(238, 30, 225), rgb(234, 46, 17));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#deck-description {
  font-size: 1.2em;
  font-weight: 200;
  color: rgb(57, 116, 255);
  margin: 15px 80px auto auto;
}

/* Flip Card */
  .flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flip-card-front {
      background-color: rgb(248, 239, 248);
  }

  #front-card-text {
    color: rgb(165, 165, 165);
    margin: 60px 0 0 60px;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }
  /* End - Flip Card */